absl-py==2.1.0
aext-assistant 
aext-assistant-server 
aext-core 
aext-core-server 
aext-panels 
aext-panels-server 
aext-project-filebrowser-server
aext-share-notebook 
aext-share-notebook-server 
aext-shared 
aext-toolbox
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
alembic
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-cli-base
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
av==14.2.0
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
Django==5.1.5
djangorestframework==3.15.2
djitellopy==2.5.0
dmglib
docstring-to-markdown
docutils
easyocr==1.7.2
Empty==0.4.4
empy==3.3.4
et-xmlfile
executing
fastapi==0.115.12
fastjsonschema
filelock
flake8
Flask
flask-cors==5.0.1
flask-ngrok==0.0.25
flatbuffers==25.2.10
fonttools
frozendict
frozenlist
fsspec
future==1.0.0
gast==0.6.0
gensim
gitdb
GitPython
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-vision==3.10.1
google-pasta==0.2.0
googleapis-common-protos==1.69.2
greenlet
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==23.0.0
h11
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jiter==0.9.0
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kconfiglib==14.1.0
keras==3.9.0
keyring
kiwisolver
lap==0.5.12
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
ml-dtypes==0.4.1
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
namex==0.0.8
navigator-updater
nb_conda_kernels
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja==1.11.1.4
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openai==1.70.0
opencv-python==4.10.0
opencv-python-headless==4.11.0.86
openpyxl
opt_einsum==3.4.0
optree==0.14.1
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
playsound==1.2.2
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
proto-plus==1.26.1
protobuf==5.29.4
psutil
psycopg==3.2.4
psycopg2==2.9.10
psycopg2-binary==2.9.10
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pyclipper==1.3.0.post6
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic-settings
pydantic_core
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
pygame==2.6.1
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc==11.0
pyobjc-core==11.0
pyobjc-framework-Accessibility==11.0
pyobjc-framework-Accounts==11.0
pyobjc-framework-AddressBook==11.0
pyobjc-framework-AdServices==11.0
pyobjc-framework-AdSupport==11.0
pyobjc-framework-AppleScriptKit==11.0
pyobjc-framework-AppleScriptObjC==11.0
pyobjc-framework-ApplicationServices==11.0
pyobjc-framework-AppTrackingTransparency==11.0
pyobjc-framework-AudioVideoBridging==11.0
pyobjc-framework-AuthenticationServices==11.0
pyobjc-framework-AutomaticAssessmentConfiguration==11.0
pyobjc-framework-Automator==11.0
pyobjc-framework-AVFoundation==11.0
pyobjc-framework-AVKit==11.0
pyobjc-framework-AVRouting==11.0
pyobjc-framework-BackgroundAssets==11.0
pyobjc-framework-BusinessChat==11.0
pyobjc-framework-CalendarStore==11.0
pyobjc-framework-CallKit==11.0
pyobjc-framework-Carbon==11.0
pyobjc-framework-CFNetwork==11.0
pyobjc-framework-ClassKit==11.0
pyobjc-framework-CloudKit==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Collaboration==11.0
pyobjc-framework-ColorSync==11.0
pyobjc-framework-Contacts==11.0
pyobjc-framework-ContactsUI==11.0
pyobjc-framework-CoreAudio==11.0
pyobjc-framework-CoreAudioKit==11.0
pyobjc-framework-CoreBluetooth==11.0
pyobjc-framework-CoreData==11.0
pyobjc-framework-CoreHaptics==11.0
pyobjc-framework-CoreLocation==11.0
pyobjc-framework-CoreMedia==11.0
pyobjc-framework-CoreMediaIO==11.0
pyobjc-framework-CoreMIDI==11.0
pyobjc-framework-CoreML==11.0
pyobjc-framework-CoreMotion==11.0
pyobjc-framework-CoreServices==11.0
pyobjc-framework-CoreSpotlight==11.0
pyobjc-framework-CoreText==11.0
pyobjc-framework-CoreWLAN==11.0
pyobjc-framework-CryptoTokenKit==11.0
pyobjc-framework-DataDetection==11.0
pyobjc-framework-DeviceCheck==11.0
pyobjc-framework-DictionaryServices==11.0
pyobjc-framework-DiscRecording==11.0
pyobjc-framework-DiscRecordingUI==11.0
pyobjc-framework-DiskArbitration==11.0
pyobjc-framework-DVDPlayback==11.0
pyobjc-framework-EventKit==11.0
pyobjc-framework-ExceptionHandling==11.0
pyobjc-framework-ExecutionPolicy==11.0
pyobjc-framework-ExtensionKit==11.0
pyobjc-framework-ExternalAccessory==11.0
pyobjc-framework-FileProvider==11.0
pyobjc-framework-FileProviderUI==11.0
pyobjc-framework-FinderSync==11.0
pyobjc-framework-FSEvents==11.0
pyobjc-framework-GameCenter==11.0
pyobjc-framework-GameController==11.0
pyobjc-framework-GameKit==11.0
pyobjc-framework-GameplayKit==11.0
pyobjc-framework-HealthKit==11.0
pyobjc-framework-ImageCaptureCore==11.0
pyobjc-framework-InputMethodKit==11.0
pyobjc-framework-InstallerPlugins==11.0
pyobjc-framework-InstantMessage==11.0
pyobjc-framework-Intents==11.0
pyobjc-framework-IntentsUI==11.0
pyobjc-framework-IOBluetooth==11.0
pyobjc-framework-IOBluetoothUI==11.0
pyobjc-framework-IOSurface==11.0
pyobjc-framework-iTunesLibrary==11.0
pyobjc-framework-KernelManagement==11.0
pyobjc-framework-LatentSemanticMapping==11.0
pyobjc-framework-LaunchServices==11.0
pyobjc-framework-libdispatch==11.0
pyobjc-framework-libxpc==11.0
pyobjc-framework-LinkPresentation==11.0
pyobjc-framework-LocalAuthentication==11.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.0
pyobjc-framework-MailKit==11.0
pyobjc-framework-MapKit==11.0
pyobjc-framework-MediaAccessibility==11.0
pyobjc-framework-MediaLibrary==11.0
pyobjc-framework-MediaPlayer==11.0
pyobjc-framework-MediaToolbox==11.0
pyobjc-framework-Metal==11.0
pyobjc-framework-MetalFX==11.0
pyobjc-framework-MetalKit==11.0
pyobjc-framework-MetalPerformanceShaders==11.0
pyobjc-framework-MetalPerformanceShadersGraph==11.0
pyobjc-framework-MetricKit==11.0
pyobjc-framework-MLCompute==11.0
pyobjc-framework-ModelIO==11.0
pyobjc-framework-MultipeerConnectivity==11.0
pyobjc-framework-NaturalLanguage==11.0
pyobjc-framework-NetFS==11.0
pyobjc-framework-Network==11.0
pyobjc-framework-NetworkExtension==11.0
pyobjc-framework-NotificationCenter==11.0
pyobjc-framework-OpenDirectory==11.0
pyobjc-framework-OSAKit==11.0
pyobjc-framework-OSLog==11.0
pyobjc-framework-PassKit==11.0
pyobjc-framework-PencilKit==11.0
pyobjc-framework-PHASE==11.0
pyobjc-framework-Photos==11.0
pyobjc-framework-PhotosUI==11.0
pyobjc-framework-PreferencePanes==11.0
pyobjc-framework-PushKit==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-QuickLookThumbnailing==11.0
pyobjc-framework-ReplayKit==11.0
pyobjc-framework-SafariServices==11.0
pyobjc-framework-SafetyKit==11.0
pyobjc-framework-SceneKit==11.0
pyobjc-framework-ScreenCaptureKit==11.0
pyobjc-framework-ScreenSaver==11.0
pyobjc-framework-ScreenTime==11.0
pyobjc-framework-ScriptingBridge==11.0
pyobjc-framework-SearchKit==11.0
pyobjc-framework-Security==11.0
pyobjc-framework-SecurityFoundation==11.0
pyobjc-framework-SecurityInterface==11.0
pyobjc-framework-ServiceManagement==11.0
pyobjc-framework-SharedWithYou==11.0
pyobjc-framework-SharedWithYouCore==11.0
pyobjc-framework-ShazamKit==11.0
pyobjc-framework-Social==11.0
pyobjc-framework-SoundAnalysis==11.0
pyobjc-framework-Speech==11.0
pyobjc-framework-SpriteKit==11.0
pyobjc-framework-StoreKit==11.0
pyobjc-framework-SyncServices==11.0
pyobjc-framework-SystemConfiguration==11.0
pyobjc-framework-SystemExtensions==11.0
pyobjc-framework-ThreadNetwork==11.0
pyobjc-framework-UniformTypeIdentifiers==11.0
pyobjc-framework-UserNotifications==11.0
pyobjc-framework-UserNotificationsUI==11.0
pyobjc-framework-VideoSubscriberAccount==11.0
pyobjc-framework-VideoToolbox==11.0
pyobjc-framework-Virtualization==11.0
pyobjc-framework-Vision==11.0
pyobjc-framework-WebKit==11.0
pyodbc 
pyOpenSSL 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PyQtWebEngine==5.15.6
pyros-genmsg==0.5.8
pyserial==3.5
PySocks 
pytesseract==0.3.13
pytest 
python-bidi==0.6.6
python-dateutil 
python-dotenv 
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc 
python-lsp-server 
python-multipart==0.0.20
python-slugify 
python-vlc==3.0.21203
pytoolconfig 
pyttsx3==2.98
pytz 
pyviz_comms 
PyWavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib 
readchar 
referencing 
regex 
requests 
requests-file 
requests-toolbelt 
rfc3339-validator 
rfc3986-validator 
rich 
rope 
rpds-py
rsa==4.9
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
ruamel.yaml.clib 
s3fs 
scikit-image 
scikit-learn 
scipy 
Scrapy 
seaborn
semver 
Send2Trash 
sentry-sdk 
service-identity 
setuptools==75.1.0
shapely==2.1.0
shellingham 
sip 
six 
smart-open 
smmap 
sniffio 
snowballstemmer 
sortedcontainers 
sounddevice==0.5.1
soupsieve 
SpeechRecognition==3.14.1
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder
spyder-kernels 
SQLAlchemy 
sqlparse==0.5.3
stack-data 
starlette==0.46.1
statsmodels 
streamlit 
sympy==1.13.1
tables
tabulate
tblib
tenacity
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
torch==2.6.0
torchvision==0.21.0
tornado
tqdm
traitlets
truststore
Twisted
typer
typing_extensions
tzdata
uc-micro-py
ujson
ultralytics==8.3.92
ultralytics-thop==2.0.14
unicodedata2
Unidecode
urllib3
uvicorn==0.34.0
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.44.0
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard